# Licensing of third-party components
lib/licensing.js @fmarier

# Network auditor
lib/whitelistedUrlPatterns.js @brave/sec-team
lib/whitelistedUrlPrefixes.js @brave/sec-team

lib/util.js @bridiver
lib/build.js @bridiver

