[submodule "vendor/depot_tools"]
	path = vendor/depot_tools
	url = ec2-user@172.31.0.74:/home/ec2-user/depot_tools
[submodule "vendor/jinja"]
	path = vendor/jinja
	url = ec2-user@172.31.0.74:/home/ec2-user/jinja
[submodule "vendor/gn-project-generators"]
	path = vendor/gn-project-generators
	url = ec2-user@172.31.0.74:/home/ec2-user/gn
