# system
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*

# editors
CMakeLists.txt
cmake-build-debug
.idea
.vscode
*.sw[a-z]
*~

docs/build
docs/_build
node_modules
src

/.brave_latest_successful_sync.json
.cipd
.gclient_entries
.gclient
/.gclient_previous_custom_vars
/.gclient_previous_sync_commits
.sccache

# logs and test results
npm-debug.log
network_log.json
network-audit-results.json

.npmrc
