electron_product_name = Brave
electron_project_name = brave
electron_version = 2.0.0
dist_url = http://brave-laptop-binaries.s3.amazonaws.com/atom-shell/dist/
ELECTRON_S3_BUCKET = brave-laptop-binaries