#If ignorance is bliss, then somebody knock the smile off my face

*.csproj.user
*.suo
*.cache
Thumbs.db
*.DS_Store

*.bak
*.cache
*.log
*.swp
*.user









 
node_modules

/tests/ios/CDVSplashScreenTest/CDVSplashScreenTest.xcodeproj/xcuserdata/

/tests/ios/CDVSplashScreenTest.xcworkspace/xcuserdata/
