
/* add padding after logo */
.logo {
    height:100%;
    width:80px;
    margin-bottom: 20px;
}

pre {
    white-space: pre-wrap;
    background: #EEE;
    padding: 25px 30px;
    margin: 15px 0px;
    line-height: 1.3em;
}
